:root
{
    --dark0-hard_x:     29,32,33; /* #1d2021 */
    --dark0-hard:       rgb(var(--dark0-hard_x));
    --dark0_x:          40,40,40; /* #282828 */
    --dark0:            rgb(var(--dark0_x));
    --dark0-soft_x:     50,48,47; /* #32302f */
    --dark0-soft:       rgb(var(--dark0-soft_x));
    --dark1_x:          60,56,54; /* #3c3836 */
    --dark1:            rgb(var(--dark1_x));
    --dark2_x:          80,73,69; /* #504945 */
    --dark2:            rgb(var(--dark2_x));
    --dark3_x:          102,92,84; /* #665c54 */
    --dark3:            rgb(var(--dark3_x));
    --dark4_x:          124,111,100; /* #7c6f64 */
    --dark4:            rgb(var(--dark4_x));
    --gray_x:           146,131,116; /* #928374 */
    --gray:             rgb(var(--gray_x));

    --light0-hard_x:    249,245,215; /* #f9f5d7 */
    --light0-hard:      rgb(var(--light0-hard_x));
    --light0_x:         251,241,199; /* #fbf1c7 */
    --light0:           rgb(var(--light0_x));
    --light0-soft_x:    242,229,188; /* #f2e5bc */
    --light0-soft:      rgb(var(--light0-soft_x));
    --light1_x:         235,219,178; /* #ebdbb2 */
    --light1:           rgb(var(--light1_x));
    --light2_x:         213,196,161; /* #d5c4a1 */
    --light2:           rgb(var(--light2_x));
    --light3_x:         189,174,147; /* #bdae93 */
    --light3:           rgb(var(--light3_x));
    --light4_x:         168,153,132; /* #a89984 */
    --light4:           rgb(var(--light4_x));

    --bright-red_x:     251,73,52; /* #fb4934 */
    --bright-red:       rgb(var(--bright-red_x));
    --bright-green_x:   184,187,38; /* #b8bb26 */
    --bright-green:     rgb(var(--bright-green_x));
    --bright-yellow_x:  250,189,47; /* #fabd2f */
    --bright-yellow:    rgb(var(--bright-yellow_x));
    --bright-blue_x:    131,165,152; /* #83a598 */
    --bright-blue:      rgb(var(--bright-blue_x));
    --bright-purple_x:  211,134,155; /* #d3869b */
    --bright-purple:    rgb(var(--bright-purple_x));
    --bright-aqua_x:    142,192,124; /* #8ec07c */
    --bright-aqua:      rgb(var(--bright-aqua_x));
    --bright-orange_x:  254,128,25; /* #fe8019 */
    --bright-orange:    rgb(var(--bright-orange_x));

    --neutral-red_x:    204,36,29; /* #cc241d */
    --neutral-red:      rgb(var(--neutral-red_x));
    --neutral-green_x:  152,151,26; /* #98971a */
    --neutral-green:    rgb(var(--neutral-green_x));
    --neutral-yellow_x: 215,153,33; /* #d79921 */
    --neutral-yellow:   rgb(var(--neutral-yellow_x));
    --neutral-yellow_x2: 233, 202, 113; /* #f9edd7 */
    --neutral-yellow2:   rgb(var(--neutral-yellow_x2));
    --neutral-blue_x:   69,133,136; /* #458588 */
    --neutral-blue:     rgb(var(--neutral-blue_x));
    --neutral-purple_x: 177,98,134; /* #b16286 */
    --neutral-purple:   rgb(var(--neutral-purple_x));
    --neutral-aqua_x:   104,157,106; /* #689d6a */
    --neutral-aqua:     rgb(var(--neutral-aqua_x));
    --neutral-orange_x: 214,93,14; /* #d65d0e */
    --neutral-orange:   rgb(var(--neutral-orange_x));
}

.theme-dark
{
    --background-primary:            var(--dark0);
    --background-primary-alt:        var(--dark0);
    --background-secondary:          var(--dark0-hard);
    --background-secondary-alt:      var(--dark1);
    --background-modifier-border:    var(--dark1);

    --text-normal:                   var(--light0);
    --text-faint:                    var(--light1);
    --text-muted:                    var(--light2);
}
